@page
@model E_Search.UI.Pages.News.IndexModel

@{
    ViewData["Title"] = "Search News";
}

<h1>Search in news</h1>


<form method="post">
    <p>
        Keyword:
        <input type="text" asp-for="ArticleBody" />
        <input type="submit" value="Filter" />
    </p>
</form>


<div class="cards-container col-12 d-flex flex-column">
    @foreach (var item in Model.News)
    {
        <div class="card">
            <div class="row row-cols-2 card-title justify-content-between">
                <div class="col-9">
                    <span class="card-title-content">
                        @Html.DisplayFor(modelItem => item.Title)
                    </span>
                </div>
                
                <div class="col-3 d-flex justify-content-end">
                    <span class="card-title-content pe-4 text-decoration-underline h5">
                        Yayınlanma Tarihi:
                        @Html.DisplayFor(modelItem => item.Date)
                    </span>
                </div>
                
            
            </div>
            <div class="row card-summary">
                <div class="card-summary-content">
                    @Html.DisplayFor(modelItem => item.Summary)
                </div>
            </div>
            <div class="row card-body">
                <div class="card-body-content">
                    @Html.DisplayFor(modelItem => item.ArticleBody)
                </div>
            </div>

        </div>
    }

</div>
